.entry_container {
    display: flex;
    flex-direction: row;
    max-height: 500px;
}

.lang_icon {
    width: 15px;
    height: 15px;
    opacity: 70%;
}

.website_row {
    display: flex;
    flex-direction: row;
}

.list_bread {
    padding-left: 5% !important; 
    margin-bottom: 4vh;
}

@media (max-width: 768px) {
     .img_container {
        height: 150px;
        width: 150px; 
        margin-bottom: 3vh;
    } 

    .media_spacing {
        margin: 0% 2% 0% 2%;
    }

    .entry_container {
        flex-direction: column
    }
}